.organic-bg{
    background-image: url('/src/image/organic-1-opt.jpg');
    height: 260px;
    width: 100%;
}
.organic-bg2{
    background-image: url('/src/image/organic-2-opt.jpg');
    height: 260px;
    width: 100%;
}
.organic-bg3{
    background-image: url('/src/image/organic-3-opt.jpg');
    height: 260px;
    width: 100%;
}
.organic-bg4{
    background-image: url('/src/image/organic-4-opt.jpg');
    height: 260px;
    width: 100%;
}